{%extends "registration/base.html"%}
{% load bootstrap4 %}

{% block content %}
<div class="container" style="background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_2fS4xpIQHGPJBrpSJuesODfIQgYg07RKL-cHe5tnOHxocTty&usqp=CAU);">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background: mediumaquamarine;">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default" style='text-align: center;'>

        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-warning btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}
